body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:50px;
  width:120px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:50px;
  width:80px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
